{{ form_start(form) }}
    {{ form_row(form.dateDeb, {'label': 'Début'}) }}
    {{ form_row(form.dateFin, {'label': 'Fin'}) }}
    {{ form_row(form.descInsPro, {'label': 'Description'}) }}
    {{ form_row(form.teletravail, {'label': 'Télétravail'}) }}
    {{ form_row(form.titre, {'label': 'Titre'}) }}
    {{ form_row(form.revenus, {'label': 'Revenus'}) }}
    {{ form_row(form.typePro, {'label': 'Type de Profession'}) }}
    {{ form_row(form.duree, {'label': 'Durée (en jours)', 'value': duree is not null ? duree : null}) }}
    {{ form_row(form.localisation, {'label': 'Localisation', 'attr': {'readonly': true}}) }}
<br>
<button class="btn btn-primary w-100 rounded-0" type="submit">{{ submit_label }}</button>
{{ form_end(form) }}
