 {% extends 'base.html.twig' %}
 {% form_theme form 'bootstrap_5_layout.html.twig' %}
 {% set titre = "Suppression du stage/alternance: #{insertion.titre}" %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
  <h1>{{ titre }}</h1>
 <div class="d-flex">
   {{ form_start(form) }}
   {{ form_row(form.delete, {'label' : 'Supprimer', 'attr' : {'class': 'btn btn-primary'}}) }}
   {{ form_row(form.cancel, {'label' : 'Annuler', 'attr' : {'class': 'btn btn-secondary'}}) }}
   {{ form_end(form) }}
 </div>
{% endblock %}

