 {% extends 'base.html.twig' %}
 {% form_theme form 'bootstrap_5_layout.html.twig' %}
 {% set titre = "Suppression #{insertion.typePro == 1 ? 'du stage' : 'de l\'alternance'}: #{insertion.titre}" %}
{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <div class="container-lg my-5 p-3 shadow" style="min-height: 90vh;">
        <h1>{{ titre }}</h1>
        {{ form_start(form, {attr: {'class': 'd-flex justify-content-center gap-3'}}) }}
        {{ form_row(form.delete, {'label' : 'Supprimer', 'attr' : {'class': 'btn btn-primary'}}) }}
        {{ form_row(form.cancel, {'label' : 'Annuler', 'attr' : {'class': 'btn btn-secondary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

