{% extends 'base.html.twig' %}

{% block title %}Stages et Alternances{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/insertions/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container insertions">
        <form class="row" action="{{ path('app_insertions_professionnelles') }}" method="post">
            <div class="col intitule_insertion">
                <label for="intitule"></label>
                {% if filters.intitule=='' %}
                    {% set intitule = "Intitulé" %}
                {% else %}
                    {% set intitule = filters.intitule %}
                {% endif %}
                <input type="text" id="intitule" name="intitule" placeholder="{{ intitule }}" {% if filters.intitule!='' %}value="{{ intitule }}"{% endif %} class="input intitule_insertion">
            </div>
            <div class="col type_contrat_insertion">
                <label for="type_contrat"></label>
            {% if filters.type_contrat=='stage' %}
                <select id="type_contrat" name="type_contrat" class="input type_contrat_insertion" style='color: #00ac8c'>
                <option value="" style='color: #000000'>Type de Contrat</option>
                <option style='color: #00ac8c' value="stage" selected>Stage</option>
                <option style='color: #ac008c' value="alternance">Alternance</option>
            {% elseif filters.type_contrat=='alternance' %}
                <select id="type_contrat" name="type_contrat" class="input type_contrat_insertion" style='color: #ac008c'>
                    <option value="" style='color: #000000'>Type de Contrat</option>
                    <option style='color: #00ac8c' value="stage" selected>Stage</option>
                    <option style='color: #ac008c' value="alternance" selected>Alternance</option>
            {% else %}
                <select id="type_contrat" name="type_contrat" class="input type_contrat_insertion">
                    <option value="" selected style='color: #000000'>Type de Contrat</option>
                    <option style='color: #00ac8c' value="stage">Stage</option>
                    <option style='color: #ac008c' value="alternance">Alternance</option>
            {% endif %}
                </select>
            </div>
            <div class="col duree_insertion">
                <input type="number" id="duree" name="duree" class="input duree_insertion" placeholder="{% if filters.duree=='' %}Duree du stage{% else %}{{ filters.duree }}" value="{{ filters.duree }}{% endif %}">
                <label for="duree" class="label duree_insertion"></label>
            </div>
            <div class="col">
                <label for="order_by"></label>
                <select id="order_by" name="type_contrat" class="input type_contrat_insertion">
                    <option value="" selected>Critère de tri</option>
                    <option value="insertion">Intitulé</option>
                    <option value="company">Entreprise</option>
                </select>
            </div>
            <div class="col">
                <input type="submit" name="submit" value="Lancer le filtrage" class="input">
            </div>
        </form>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
            {% for key,insertion in insertions %}
                <div class="col">
                    <div class="insertion typepro_{{ insertion.typePro==1?'stage':'alternance' }}">
                        <a href="{{ path('app_detail_insertions_professionnelles', {id: insertion.id }) }}" class="insertion">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ asset('img/default_profile.jpg') }}" alt="Logo de l'entreprise {{ insertion.company.name }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col insertion_intitule">{{ insertion.titre }}</div>
                            </div>
                            <div class="row insertion_infos">
                                <div class="col insertion_entreprise">{{ insertion.company.name }}</div>
                                <div class="col-md-auto insertion_duree">{{ insertion.duree }} jours ouvrés</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
