{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script>
    let map = L.map('map').setView([51.085, -0.09], 13);
    L.tileLayer('http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}', {
            attribution: '<a href="https://www.lije-creative.com">LIJE Creative</a>',
            maxZoom: 18
        }).addTo(map);
</script>
{% endblock %}

{% block title %}
    {{ insertion.titre }}
{% endblock %}

{% block body %}
    <div class="container-lg d-flex flex-column shadow my-5 gap-3 p-3">
        <h1 class="text-center">{{ insertion.titre }}</h1>
        <div class="d-flex flex-column flex-lg-row gap-3">
            <div class="d-flex flex-column w-50">
                <p><strong>Type de contrat : </strong><span
                            style="color: {{ insertion.typePro == 1 ? '#00ac8c' : '#ac008c' }}">{{ insertion.typePro == 1 ? 'Stage' : 'Alternance' }}</span>
                </p>
                <p><strong>Durée :</strong> {{ insertion.duree }} jours</p>
                <p><strong>Description :</strong></p>
                <p class="flex-grow-1">{{ insertion.descInsPro }}</p>
                <a class="btn btn-primary rounded-0"
                   href="{{ path('app_candidater', {id: insertion.id} ) }}">Candidater</a>
            </div>
            <div class="d-flex flex-column shadow p-3 w-50">
                <div class="d-flex p-3 gap-4">
                    <img class="rounded-circle" height="150px"
                         src="{{ insertion.company.displayAvatar|default(asset('img/default_profile.jpg')) }}"
                         alt="{{ insertion.company.name }}">
                    <div class="flex-grow-1">
                        <h2>
                            <a href="{{ path('app_profile', {id: insertion.company.id}) }}">{{ insertion.company.name }}</a>
                        </h2>
                        <p>{{ insertion.company.descriptionEntreprise }}</p>
                    </div>
                </div>
                <div id="map" style="height: 400px">

                </div>
            </div>
        </div>
        <h2>Recommandations</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
            {% for recommandation in recommandations %}
                {{ include('insertions_professionnelles/_result.html.twig', {insertion: recommandation}) }}
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">

        const map = new L.Map('map', {
                center: new L.LatLng({{ insertion.company.localisations.0.latitude }},{{ insertion.company.localisations.0.longitude }}),
                zoom: 9,
                maxZoom: 18
            }
        );
        const osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        let marker = L.marker([ {{ insertion.company.localisations.0.latitude }},{{ insertion.company.localisations.0.longitude }}]).addTo(map);

        map.addLayer(osm);

    </script>
{% endblock %}