{% extends 'base.html.twig' %}
{% set titre = "Statut de la candidature" %}
{% block title %}{{ titre }}{% endblock %}
{% block body %}
    <h1>{{ titre }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.status) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}